<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProvenCFO</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>

    @*<link href="assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">*@
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">


    @Styles.Render("~/assets/AvertaWebFont/provencfo.css")
    @Styles.Render("~/bundles/customcss")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


</head>
<body>

    <main class="main" id="top">


        <div class="container-fluid" data-layout="container">
            @*@if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LeftNav")

                }*@
            @if (Request.Url.AbsoluteUri.Contains("~/ChangePassword"))
            {
                <p>HI</p>

            }
            else
            {
                @Html.Partial("_LeftNav")
            }

        <div class="content">


            @Html.Action("TopNavigation", "Home")

            @RenderBody()

            @Html.Partial("_Footer")
            @Html.Partial("_PageLoader")
        </div>

        </div>
    </main>


    @Scripts.Render("~/bundles/layoutJS")
    @*@Scripts.Render("~/bundles/js/theme")*@
    <script src="~/assets/js/theme.js"></script>
    @Scripts.Render("~/bundles/js/developer")
    @*@Scripts.Render("~/bundles/js/select")*@
    @RenderSection("scripts", required: false)

    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@

<script>
        var userEmailAddress = '@(Convert.ToString(Session["LoginName"]))';
        var sessionTime = @(Convert.ToString(Session["SessionTimeout"]));
        var apiurl = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["provencfoapi"]))';
        $(document).ready(function () {
            var timeout = sessionTime * 60000; //Convert Minutes to Milliseconds
            $(document).bind("idle.idleTimer", function () {
                ShowConfirmBoxWarningwithYesOrNoCallback("Session Expired", "Would you like to continue your session?", "Yes, continue working", "Logout", function (isConfirmed) {

                    if (isConfirmed) {
                        ShowEnterInput('Continue Session', 'Plase enter your password', 'Password','password', 'Please enter valid password', function (IsloginExtend) {
                            if (IsloginExtend) {
                                postAjaxSync("/Home/SessionTimeoutExtend?UserName=" + userEmailAddress + "&password=" + IsloginExtend, null, function (response) {

                                    var res = response;
                                    if (response == 'success') {
                                        location.reload();
                                       /* ShowAlertBoxSuccess('Continue Session', 'Your session has been extened to ' + sessionTime + ' minutes.');*/
                                    }
                                    else {
                                        ShowAlertBoxWarning('Incorrect Password', 'Entered user name and password is wrong..!', function () {
                                            window.location.href = window.location.origin + '/Home/LoginSessionExpired';
                                        });
                                    }
                                });
                            }
                        });
                    } else {
                        window.location.href = window.location.origin + '/Home/Login';
                    }

                })
            });
            $(document).bind("active.idleTimer", function () {

                // function you want to fire when the user becomes active again
            });
            $.idleTimer(timeout);
        });
</script>

</body>
</html>
