<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProvenCFO</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>

    @*<link href="assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">*@
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">


    @Styles.Render("~/assets/AvertaWebFont/provencfo.css")
    @Styles.Render("~/bundles/customcss")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


</head>
<body>

    <main class="main" id="top">


        <div class="container-fluid" data-layout="container">
            @*@if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LeftNav")

                }*@
            @if (Request.Url.AbsoluteUri.Contains("~/ChangePassword"))
            {
                <p>HI</p>

            }
            else
            {
                @Html.Partial("_LeftNav")
            }

            <div class="content">


                @Html.Action("TopNavigation", "Home")

                @RenderBody()

                @Html.Partial("_Footer")
            </div>

        </div>
    </main>







    @Scripts.Render("~/bundles/customjquery")
    @Scripts.Render("~/bundles/js/select")
    @RenderSection("scripts", required: false)

    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@



</body>
</html>
<script>
    $(document).ready(function () {

        if ((sessionStorage.getItem('SelectedMenu') == null || sessionStorage.getItem('SelectedMenu') == '') && (sessionStorage.getItem('SelectedSubMenu') == null || sessionStorage.getItem('SelectedSubMenu') == '')) {
            $("#home").addClass("show");
        }
        else {
            HighlightMenu();
        }

        $('#navbarVerticalCollapse li a').click(function (event) {
            //localStorage.setItem('SelectedSubMenu', event.currentTarget.name);
            if (event.currentTarget.parentNode.id != '' && event.currentTarget.parentNode.id.indexOf('submenu') != -1) {
                //sessionStorage.setItem('SelectedMenu', event.currentTarget.parentNode.id);
                sessionStorage.setItem('SelectedSubMenu', event.currentTarget.parentNode.id);
            }
            else {
                sessionStorage.setItem('SelectedMenu', event.currentTarget.parentNode.id);
                sessionStorage.setItem('SelectedSubMenu', '');
            }
            HighlightMenu();

        });
    });
    function SetUserPreferencesForAgency() {
       
        var ClientID = $("#ddlclient option:selected").val();
        GetTotalNotesCount();
        $.ajax({
            url: '/AgencyService/SetUserPreferences?ClientId=' + ClientID,
            type: "POST",
            //data: '{model: ' + JSON.stringify(model) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              
                if (data != null) {                  
                    
                }
                else {

                }
            },
            error: function (d) {

            }
        });

    }

    function GetTotalNotesCount() {
        var ClientID = $("#ddlclient option:selected").val();
        getAjax(`/Notes/TotalNotesCountByAgencyId?AgencyId=${ClientID}`, null, function (response) {
            debugger;
            if (response.Message == "Success") {

                let data = response.ResultData;
                let TotalNotes = 0;

                for (var i = 0; i < data.length; i++) {
                    TotalNotes = TotalNotes + Number(data[i].TotalNotes);
                }
                $("#lblTotalNotes").text(TotalNotes);
            }
        });
    }

    function HighlightMenu() {
        var activeTabs = $('.nav-item.active');
        if (activeTabs != null && activeTabs.length > 0) {
            $.each(activeTabs, function (key, value) {
                if (value != null) {
                    $(value).removeClass('active');
                }
            });
        }
        var activeTabs = $('.nav-item.show');
        if (activeTabs != null && activeTabs.length > 0) {
            $.each(activeTabs, function (key, value) {
                if (value != null) {
                    $(value).removeClass('show');
                }
            });
        }
        if (location.href.indexOf('AgencyHome') != -1 || (sessionStorage.getItem('SelectedMenu') == undefined && sessionStorage.getItem('SelectedSubMenu') == undefined)) {
            $('#menu_home').addClass('active');
        }
        else {
            if (sessionStorage.getItem('SelectedMenu') != undefined && sessionStorage.getItem('SelectedMenu') != null && sessionStorage.getItem('SelectedMenu') != '') {
                $("#" + sessionStorage.getItem('SelectedMenu')).addClass("show");
            }
            if (sessionStorage.getItem('SelectedSubMenu') != undefined && sessionStorage.getItem('SelectedSubMenu') != null && sessionStorage.getItem('SelectedSubMenu') != '') {
                $('#' + sessionStorage.getItem('SelectedSubMenu'))[0].className = $('#' + sessionStorage.getItem('SelectedSubMenu'))[0].className + ' active';
                $("#" + sessionStorage.getItem('SelectedSubMenu'))[0].parentElement.className = $("#" + sessionStorage.getItem('SelectedSubMenu'))[0].parentElement.className + ' show';

            }

        }

    }



</script>
