@model  ProvenCfoUI.Models.KanbanTasksViewModel
@using Proven.Model
@{
    ViewBag.Title = "Change new Task";
}
@*@using (Html.BeginForm("CreateRole", "Role", FormMethod.Post))
    {
        @Html.AntiForgeryToken()*@
<div class="modal theme-modal fade" tabindex="-1" role="dialog" aria-labelledby="kanban-modal-label-1" aria-hidden="true" id="kanban-modal-new">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute t-0 r-0 mt-3 mr-3 z-index-1">
                <button class=" close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" id="verifyAttachment" onclick="checkAttachment()" data-dismiss="modal" aria-label="Close"><span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3" style="position: inherit !important;"></span></button>
            </div>
            <div class="modal-body p-0">
                <div class="bg-light rounded-soft-top px-4 py-3">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                        <input class="form-control" id="txtTaskTitle" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="max-width:85%" />
                    </div>
                    <p class="fs--2 mb-0">Added by <a class="text-600 font-weight-semi-bold" href="#!">@Model.ReporterName</a></p>
                </div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-user" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-2 fs-0">Assignee</h5>
                                    <ul class="nav avatar-group mb-0" id="ulAddedMembers">

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle dropdown-caret-none p-0 ml-n1" href="#!" data-toggle="dropdown">
                                                <div class="avatar avatar-xl">
                                                    <div class="avatar-name rounded-circle avatar-button"><span><span class="fas fa-plus" data-fa-trasnsform="grow-2" style="font-size: 20px;"></span></span></div>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-md">
                                                <h6 class="dropdown-header py-0 px-3 mb-0">Select Member</h6>
                                                <div class="dropdown-divider"></div>
                                                <form class="px-3 mb-2">
                                                    @*<input class="form-control form-control-sm" type="text" placeholder="Search team member" />*@
                                                </form>
                                                <ul class="list-unstyled" id="ulTeamMembersList">
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-2 fs-0">Tags</h5>
                                    <div class="d-flex" id="divTag">
                                        <div class="dropdown dropright">
                                            <button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus" style="font-size: 20px;"></span></button>
                                            <div class="dropdown-menu">
                                                <h6 class="dropdown-header py-0 px-3 mb-0">Select Tags</h6>
                                                <div class="dropdown-divider"></div>
                                                <div class="px-3">
                                                    <button class="badge-soft-success dropdown-item rounded mb-2 bg-red  text-white" type="button" onclick="addTag('badge-soft-success bg-red  text-white','Urgent');">Urgent</button>
                                                    <button class="badge-soft-primary dropdown-item rounded mb-2 bg-orange  text-white" type="button" onclick="addTag('badge-soft-primary bg-orange  text-white','High');">High</button>
                                                    <button class="badge-soft-info dropdown-item rounded mb-2 bg-light-blue  text-white " type="button" onclick="addTag('badge-soft-info bg-light-blue  text-white', 'Medium');">Medium</button>
                                                    <button class="badge-soft-danger dropdown-item rounded mb-2 bg-green  text-white" type="button" onclick="addTag('badge-soft-danger bg-green  text-white','Low');">Low</button>
                                                </div>
                                                <div class="dropdown-divider"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>                           
                        </div>
                        <div class="col-lg-3">
                            <h6 class="mt-5 mt-lg-0">Add To Card</h6>
                            <ul class="nav flex-lg-column fs--1">
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-user mr-2"></span>Members</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-tag mr-2"></span>Label</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-paperclip mr-2"></span>Attachments</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-check mr-2"></span>Checklists</a></li>
                            </ul>
                            <h6 class="mt-3 d-none">Actions</h6>
                            <ul class="nav flex-lg-column fs--1 d-none">
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="far fa-copy mr-2"> </span>Save</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-arrow-right mr-2"></span>Move</a></li>
                                @*<li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-trash-alt mr-2"></span>Remove</a></li>*@
                            </ul>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-2 fs-0">Description</h5>
                                    <div class="min-vh-50 mh-25 border border-dark">
                                        <textarea class="tinymce d-none border" name="content" id="txtDescription"></textarea>
                                    </div>
                                    @*<p class="text-word-break fs--1">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. <a href="https://prium.github.io/falcon/v2.8.1/default/home/dashboard-alt.html" target="_blank">https://prium.github.io/falcon/v2.8.1/default/home/dashboard-alt.html</a></p>*@
                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-paperclip" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="row"> <h5 class="mb-0 fs-0 col-12">Attachments</h5></div>
                                        <br />
                                        <div class="dropdown">
                                            @*<button class="btn btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus"></span></button>*@
                                            <button class="btn btn-falcon-default btn-sm btnselectfile " type="button"> <span class="fas fa-plus" style="font-size: 20px;"></span></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#!">Computer</a><a class="dropdown-item" href="#!">Google Drive</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Attach Link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="attachmentContainer_Add">
                                    </div>
                                    <div class="media align-items-center mb-3">
                                        <div class="table table-striped" class="files" id="previews" style="margin-top:40px">

                                            <div id="template" class="file-row">
                                                <!-- This is used as the file preview template -->
                                                <div>
                                                    <span class="preview"><img data-dz-thumbnail /></span>
                                                </div>
                                                <div>
                                                    <p class="name" data-dz-name></p>
                                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                                </div>
                                                <div>
                                                    <p class="size" data-dz-size></p>
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                    </div>
                                                </div>
                                                <div id="actions">
                                                    <button class="text-600 font-weight-semi-bold start" style="border: none; background: transparent; font-size: 12px;">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <span>Upload</span>
                                                    </button>
                                                    @*<span class="mx-1">|</span>
                                <button data-dz-remove class=" cancel" style="border: none; background: transparent; font-size: 12px;" onclick="RemoveFile(event);">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <input type="hidden" name="" value="" class="name" data-dz-name />
                                    <span>Cancel</span>
                                </button>
                                <span class="mx-1">|</span>*@
                                                    <button data-dz-remove class="delete" style="border: none; background: transparent; font-size: 12px;" onclick="RemoveFile(event);">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                        <input type="hidden" name="" value="" class="name" data-dz-name />
                                                        <span>Remove</span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="myModal" class="modalattPreview">
                                        <span class="close cursor" onclick="closeModal()">&times;</span>
                                        <div class="modal-content1Preview">

                                            <div class="mySlides">
                                                <div class="numbertext">1 / 4</div>
                                                <img id="imgPreview" src="../assets/img/team/default-logo.png" style="width:100%">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" id="btnCreateNewTicket" type="button"> Create </button>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" id="cancel" onclick="CancelForCreate()">Cancel</button>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                           
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!--<div class="modal theme-modal fade" tabindex="-1" role="dialog" aria-labelledby="kanban-modal-label-1" aria-hidden="true" id="kanban-modal-new" style="display:none">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute t-0 r-0 mt-3 mr-3 z-index-1">
                <button class="close btn btn-sm close-circle d-flex flex-center transition-base" data-dismiss="modal" aria-label="Close"><span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3"></span></button>
            </div>
            <div class="modal-body p-0">
                <div class="bg-light rounded-soft-top px-4 py-3">
                    <h4 class="mb-1" id="kanban-modal-label-1">Create new ticket</h4>
                    <p class="fs--2 mb-0">Added by <a class="text-600 font-weight-semi-bold" href="#!">@Model.ReporterName</a></p>
                </div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mb-2 fs-0 split-create-name">Type of Ticket</h5>


                            @Html.DropDownListFor(m => m.TaskType, new List<SelectListItem>() { new SelectListItem { Text = "Task", Value = "Task" },
                     new SelectListItem { Text = "Bug", Value = "Bug" },
                     new SelectListItem { Text = "Discussion", Value = "Discussion" },
                     new SelectListItem { Text = "Review", Value = "Review" },
                     new SelectListItem { Text = "Change Request", Value = "Change Request" }}, new { @class = "form-control text-box single-line w-25", @id = "ddlTaskType" })



                            <h5 class="mb-2 fs-0 split-create-name">Summary</h5>
                            @Html.EditorFor(model => model.TaskTitle, new { htmlAttributes = new { @class = "form-control text long-field", @id = "txtTaskTitle1" } })-->
@*<input class="text long-field" id="summary" name="summary" type="text" value="" style="width:100%">*@

<!--<h5 class="mb-2 fs-0 split-create-name">Description</h5>
                            <div class="min-vh-50 mh-25 border border-dark">
                                <textarea class="tinymce d-none border" name="content" id="txtDescription"></textarea>
                            </div>

                            <h5 class="mb-2 fs-0 split-create-name">Assignee</h5>

                            @Html.DropDownListFor(m => m.Assignee, new List<SelectListItem>() { new SelectListItem { Text = "Automatic", Value = "Automatic" },
                          new SelectListItem { Text = "Unassigned", Value = "Unassigned" },
                          new SelectListItem { Text = "Team Member1", Value = "Team Member1" },
                          new SelectListItem { Text = "Team Member2", Value = "Team Member2" },
                          new SelectListItem { Text = "Team Member3", Value = "Team Member3" }}, new { @class = "form-control text-box single-line w-25 ", @id = "ddlAssignee" })


                            <h5 class="mb-2 fs-0 split-create-name">Priority</h5>
                            @Html.DropDownListFor(m => m.Priority, new List<SelectListItem>() { new SelectListItem { Text = "Medium", Value = "Medium" },
                        new SelectListItem { Text = "High", Value = "High" },
                        new SelectListItem { Text = "Low", Value = "Low" },
                        new SelectListItem { Text = "Trivial", Value = "Trivial" },
                        new SelectListItem { Text = "Lowest", Value = "Lowest" }}, new { @class = "form-control text-box single-line w-25 ", @id = "ddlPriority" })
                            <h5 class="mb-2 fs-0">Start Date</h5>
                            <input class="form-control datetimepicker w-25" id="dpStartDate" type="text" placeholder="m/d/Y" data-options='{"dateFormat":"m/d/Y"}'>
                            <h5 class="mb-2 fs-0">End Date</h5>
                            <input class="form-control datetimepicker w-25" id="dpEndDate" type="text" placeholder="m/d/Y" data-options='{"dateFormat":"m/d/Y"}'>
                            <h5 class="mb-2 fs-0">Due Date</h5>
                            <input class="form-control datetimepicker w-25" id="dpDueDate" type="text" placeholder="m/d/Y" data-options='{"dateFormat":"m/d/Y"}'>
                            <h5 class="mb-2 fs-0">Due Date</h5>
                            @Html.EditorFor(model => model.EstimatedHours, new { htmlAttributes = new { @class = "form-control text long-field  w-25", @id = "txtEstimatedHours" } })


                        </div>
                        <div class="row align-items-center form-group mb-0">
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <button class="btn btn-primary" id="btnCreateNewTicket" type="button"> Create </button>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" id="cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border:10px solid red;"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*}*@

<script type="text/javascript">

</script>