@model  Proven.Model.TeamsVM

@{
    ViewBag.Title = "";
}


@using (Html.BeginForm("CreateTeams", "Teams", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card mb-3">
        <div class="card-body overflow-hidden">
            @if (@ViewBag.ErrorMessage != null)
            {
                @Html.Hidden("TeamCreateOrUpdate", (object)@ViewBag.ErrorMessage, new { @Id = "TeamCreateOrUpdate" });
            }
            @if (@ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <p>@ViewBag.Message</p>
                </div>

            }

            @if (Model.Id == 0)
            {
                <h3 class="font-weight-normal fs-2 fs-md-3 mb-0 border-bottom pb-2">Create New Team </h3>
            }
            else
            {
                <h3 class="font-weight-normal fs-2 fs-md-3 mb-0 border-bottom pb-2">Edit Team</h3>
            }


            <div class="row mt-4">
                <div class="col-12">
                    <form method="post" action="CreateTeam">

                        <div class="row form-group custom-form-width">
                            <div class="col-12 col-lg-8 col-xl-5">
                                @*<input class="form-control" type="email" placeholder="Email address" id="txtEmail" />*@

                                @Html.HiddenFor(model => model.Id, "Id")
                                @Html.HiddenFor(model => model.IsDeleted, "IsDeleted")
                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">

                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        <span class="text-danger field-validation-error " data-valmsg-replace="true"><span id="uniqueteam" class=""></span></span>
                                    </div>
                                </div>


                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                        <label for="split-create-name">Team Name</label>
                                    </div>

                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })*@
                                        <span class="text-danger field-validation-error " data-valmsg-for="TeamName" data-valmsg-replace="true"><span id="teamexist" class=""></span></span>
                                    </div>
                                    @*<input class="form-control" type="email" placeholder="Email address" id="txtEmail" />*@
                                </div>
                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                        <label for="split-login-email" class="mb-0">Team Member 1</label>
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        @Html.DropDownListFor(model => model.TeamMemberId1, new SelectList(Model.StaffList, "UserId", "DisplayName"), "Select Team Member", new { @class = "form-control", @id = "DropDownListTeam1" })
                                        @Html.ValidationMessageFor(model => model.TeamMemberId1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                        <label for="split-login-email" class="mb-0">Team Member 2</label>
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        @Html.DropDownListFor(model => model.TeamMemberId2, new SelectList(Model.StaffList, "UserId", "DisplayName"), "Select Team Member", new { @class = "form-control", @id = "DropDownListTeam2" })
                                        @Html.ValidationMessageFor(model => model.TeamMemberId2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                        <label for="split-login-email" class="mb-0">Team Member 3</label>
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        @Html.DropDownListFor(model => model.TeamMemberId3, new SelectList(Model.StaffList, "UserId", "DisplayName"), "Select Team Member", new { @class = "form-control", @id = "DropDownListTeam3" })
                                        @Html.ValidationMessageFor(model => model.TeamMemberId3, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row align-items-center form-group">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                        <label for="split-login-email">Status</label>
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>() { new SelectListItem { Text = "Active", Value = "Active" }, new SelectListItem { Text = "Inactive", Value = "Inactive" } }, new { @class = "form-control text-box single-line" })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>





                                @*<div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="basic-register-checkbox" />
                                        <label class="custom-control-label" for="basic-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
                                    </div>*@

                                <div class="row align-items-center form-group mb-0">
                                    <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-9 col-xl-8">

                                        @if (Model.Id == 0)
                                        {
                                            <button class="btn btn-primary" type="submit" id="btnCreate" name="submit" href="@Url.Action("CreateTeams", "Teams")" onclick="return UniqueTeams()">Create</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" type="submit" id="btnCreate" name="submit" href="@Url.Action("UpdateTeam", "Teams")" onclick="return UniqueTeams()">Update</button>
                                        }
                                        <input type="button" value="Cancel" class="btn btn-primary ml-2" onclick="location.href='@Url.Action("TeamsList", "Teams")'" />

                                    </div>
                                    @*<button class="btn btn-primary btn-block mt-2 col-5" type="button" id="btnCreate" name="submit" href="@Url.Action("Role", "Role")">Cancel</button>*@
                                    @*<input class="btn btn-primary btn-block mt-2 col-5 float-right" type="button" name="Cancel" id="btnClear" href=@Url.Action("Role", "Role") value="Cancel" />*@
                                    @*<button class="btn btn-primary btn-block mt-2 col-5 float-right"  id="btnClear" href="#">Cancel</button>*@
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //const { Dropdown } = require("bootstrap");

        document.getElementById("teamexist").style.display = "none";
        $(document).ready(function () {

            //
            var msg = $('#TeamCreateOrUpdate') != undefined ? $('#TeamCreateOrUpdate').val() : '';
            if (msg != undefined && msg != '' && msg == "Created") {
                AddAlertTeam();
                $('#TeamCreateOrUpdate').val('');
            }
            else if (msg != undefined && msg != '' && msg == "Updated") {
                UpdateAlertTeam();
                $('#TeamCreateOrUpdate').val('');
            }
            else if (msg != undefined && msg != '' && msg == "Exist") {

                $('#teamexist').show();
                $('#teamexist').html('This Team Name has been already taken.')
                //ExistAlertRole();
                $('#TeamCreateOrUpdate').val('');
            }

            $("#btnClear").click(function () {
                $('select').val("Active");
                $(this).closest('form').find("input[type=text], textarea").val("");
            });
        });
        var ExportFileReq = function (Controller, jAction, rData) {
            if (rData == undefined) rData = "{}";
            $.ajax({
                type: "POST",
                url: '/' + Controller + '/' + jAction,
                contentType: "application/json; charset=utf-8",
                data: rData,
                dataType: "json",
            }).done(function (FileName) {
                //get the file name for download
                if (FileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    var dPath = '/Base/Download?fileName=' + FileName;
                    window.location.href = dPath;

                }
            });
        };

        function UniqueTeams() {

            var valhere1 = $("#DropDownListTeam1").val();
            var valhere2 = $("#DropDownListTeam2").val();
            var valhere3 = $("#DropDownListTeam3").val();

            if (valhere1 == valhere2 && valhere1 != "" || valhere2 == valhere3 && valhere2 != "" || valhere1 == valhere3 && valhere1 != "") {
                $('#uniqueteam').html('<div class="alert alert-danger text-center"><b>Team members on a team must be unique.</b></div>');
                return false;
            }
        }


        function AddAlertTeam() {
            sweetAlert
                ({
                    title: "Created!",
                    text: "New Team is created successfully!",
                    type: "success"
                },
                    function () {
                        window.location.href = '/Teams/TeamsList'
                    });
        }

        function UpdateAlertTeam() {
            sweetAlert
                ({
                    title: "Updated!",
                    text: "Team updated successfully!",
                    type: "success"
                },
                    function () {
                        window.location.href = '/Teams/TeamsList'
                    });
        }

    </script>
}