@model ProvenCfoUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@Styles.Render("~/bundles/customcss")
@Scripts.Render("~/bundles/modernizr")
@if (ViewData.ModelState.IsValid)
{
    if (@ViewBag.Name != null)
    {
        <b>
            email : @ViewBag.email<br />

        </b>
    }
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    

        
        
            <div class="row flex-center min-vh-100 py-6 text-center">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="d-flex flex-center mb-4"><img class="mr-2" src="~/assets/img/illustrations/falcon.png" alt="" width="150" />@*<span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">ProvenCFO</span>*@</div>
                    @if (@ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <p>@ViewBag.ErrorMessage</p>
                        </div>
                    }
                    @if (@ViewBag.Sucess != null)
                    {
                        <div class="alert alert-green">
                            <p>@ViewBag.Sucess</p>
                        </div>
                    }
                    <div class="card">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="mb-0">Forgot your password?</h5><small>Enter your email and we'll send you a reset link.</small>
                            <form class="mt-4">
                                <div class="form-group">
                                    @*<input class="form-control" type="email" placeholder="Email address" />*@
                                    <label for="split-login-email">Email address</label>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block mt-3" type="submit" id="btnForgotPassword" name="submit">Send reset link</button>
                                </div>
                                <div class="form-group">
                                    <a class="fs--1" href=@Url.Action("Login", "Home")>Back to Login</a>
                                </div>
                            </form>
                            @*</form><a class="fs--1 text-600" href="#!">I can't recover my account using this page<span class="d-inline-block ml-1">&rarr;</span></a>*@
                        </div>
                    </div>
                </div>
            </div>
        
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}



@*@section scripts {
    <script type="text/javascript">$(document).ready(function () {


            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });


    $('#btnForgotPassword').click(function () {

                var data ={
                    email: $('#txtEmail').val()
                }

                console.log(data);
                $.ajax({
                    url: 'https://localhost:44341/api/account/register',
                    method: 'POST',
                    data: {
                        email: $('#txtEmail').val()
                    },
                    success: function () {
                        alert('Please Check Your Email.')

                    },
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });</script>*@


}
