@model Proven.Model.NotesDescriptionModel
@using Proven.Model
@{
    ViewBag.Title = "Create New Note Description";
}
<style>
    .tox-toolbar-overlord {
        background-color: #fff;
        display: flex;
    }


   /* button#btnCreateNewNotesDescription {
        padding-left: 10px;
    }*/
</style>

<div class="modal theme-modal fade" tabindex="-1" role="dialog" aria-labelledby="notes-modal-label-1" aria-hidden="true" id="notes-modal-new">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute t-0 r-0 mt-3 mr-3 z-index-1">
                <button class=" close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" data-dismiss="modal" aria-label="Close"><span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3" style="position: inherit !important;"></span></button>
            </div>
            <div class="modal-body p-0">
                <div class="p-4">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <form action="" method="post" onsubmit="return false;" id="formCreateNotes">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" for="Title">Title</span>
                                            @*<input class="form-control" id="txtNotesTitle" type="text" style="max-width:85%" />*@
                                            @Html.TextBoxFor(x => x.Title, new { @style = "width:89%" })
                                            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger w-100" })
                                            @Html.HiddenFor(x => x.Id)
                                            @Html.HiddenFor(x => x.NoteCatId)
                                            @Html.HiddenFor(x => x.AgencyId)
                                            @Html.HiddenFor(x => x.Position)
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Publish</label>
                                                </div>
                                                <div class="col-md-4 custom-switch custom-control-inline  mr-0 ">
                                                    <input class="custom-control-input" id="chkPublished" type="checkbox" checked>
                                                    <label class="custom-control-label" for="chkPublished"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <h5 class="mb-2 fs-0">Description</h5>
                                            <div class="min-vh-50 mh-25 border border-dark">

                                                @*@Html.EditorFor(x => x.Description, new { @style = "max-width:85%" })*@
                                                @Html.TextAreaFor(x => x.Description, new { @class = "tinymce border" })
                                                @*<textarea class="tinymce border" name="Description" id="Description" data-val="true" data-val-required="This field cannot be blank." required></textarea>*@
                                                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger w-100" })
                                            </div>
                                        </div>
                                    </form>
                                    @*<hr class="my-4" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-1 col-md-1 col-lg-1 col-xl-1">
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" id="btnCreateNewNotesDescription" type="button"> Create </button>

                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" id="cancel">Cancel</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
