@model ProvenCfoUI.Models.AgencyClient
@{ ViewBag.Title = "AgencyHome";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .disabled-link {
        pointer-events: none;
    }
</style>
@Styles.Render("~/bundles/css/fancybox")
<div class="dashboard-frame">

    <!--<div class="card mb-4 ">
          @*@{
              Html.RenderAction("AgencySelection", "AgencyService");
          }*@
          <!--<!--<div class="card-header">
              <div class="row align-items-center justify-content-between">-->
    <!--@*<div class="col-6 col-sm-auto d-flex align-items-center pr-0">
            <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Agency Home</h5>
        </div>*@-->
    <!--<!--<div class="col-6 col-sm-auto ml-auto text-right pl-0">
        <div class="d-none" id="purchases-actions">
            <div class="input-group input-group-sm">
                <select class="custom-select cus" aria-label="Bulk actions">
                    <option selected="">Bulk actions</option>
                    <option value="Delete">Delete</option>
                    <option value="Archive">Archive</option>
                </select>
                <button class="btn btn-falcon-default btn-sm ml-2" type="button">Submit</button>
            </div>
        </div>
        <div id="dashboard-actions">-->
    <!--@*<button class="btn btn-falcon-default btn-sm" type="button">
            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
            <span class="d-none d-sm-inline-block ml-1"><a href=@Url.Action("CreateClient", "Client")>Create</a></span>
        </button>*@
    @*<button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button>*@
    @*<button class="btn btn-falcon-default btn-sm ml-2" type="button">
            <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
            <span class="d-none d-sm-inline-block ml-1" onclick="ExportToExcel()">Export</span>
        </button>*@-->
    <!--<!--<!--<button class="btn btn-falcon-default btn-sm ml-2" type="button">
    <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
    <span class="d-none d-sm-inline-block ml-1">-->
    <!---->
    <!---->@*<a href=@Url.Action("AgencyHome", "AgencyService")>Back to dashboard</a>*@<!---->
    <!--</span>
    </button>-->
    <!--</div>
            </div>
        </div>
    </div>-->
    <!--@*@Html.Partial("_AgencySelection")*@
        @*@{
                Html.RenderAction("AgencySelection", "AgencyService");
            }*@
    </div>-->
    <!--<div class="card px-0 pt-0">
        <div class="row no-gutters">

            <div class="col-lg-3 col-xl-12 pl-lg-2 pl-xl-0 mb-3" id="divClientDetials">
                <div class="bg-holder d-none d-xl-block bg-card">
                </div>-->
    <!--/.bg-holder-->
    @*<div class="card-body">
            <h5>Agency Details: <span id="spClientName"></span></h5>
            <p class="fs--1" id="spClientAddress"></p>
            <div>
                <strong class="mr-2">Status: </strong>
                <div class="badge badge-pill badge-soft-success fs--2 d-none">Active<span class="fas fa-check ml-1" data-fa-transform="shrink-2"></span></div>
            </div>
        </div>*@               @*Commented By Amit From line 61 to 67*@


        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-auto pr-2">
                                <h6 class="mt-1">Not in Bank </h6>
                                @*<div class="fs--2 mt-3">
                                        <div class="d-flex flex-between-center mb-1">


                                            <div class="d-xxl-none">993%</div>
                                        </div>
                                    </div>*@
                                <h1 id="lblNotInBanksCount2" style=" margin-left: 25px;">0</h1>


                                <div>
                                    <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblNegativeBanksCount" style="color: white; background-color: #00d27a; ">0</span>
                                </div>
                                <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblpostiveBanksCount" style=" color: white; background-color: red;">0</span><br />
                            </div>
                            <div class="col-5 col-sm-4" id="divNotInBankPercentage">

                                @*<div class="progress-circle" data-echart-responsive="true" id="lblPercentage" data-options='{"color":"url(#gradient)","progress":93,"strokeWidth":5,"trailWidth":5}'></div>*@
                                @*<h3 class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%);"><span class="value" id="lblPercentage">0</span><span>%</span> </h3>*@
                                @*<div class="absolute-centered font-weight-medium text-dark fs-2" id="lblPercentage">0</div>*@


                                @*<div class="progress-circle" id="lblNotInBankPercentage" data-options='{"color":"url(#gradient)","progress":40,"strokeWidth":5,"trailWidth":5}'></div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-auto pr-2">
                                <h6 class="mt-1">Not in Book </h6>

                                <h1 id="lblNotInBooksCount2" style=" margin-left: 15px;">
                                    0
                                </h1>
                                <div>
                                    <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblNegativeInBooksCount" style="color: white; background-color: #00d27a; ">0</span>
                                </div>
                                <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblPostiveInBooksCount" style=" color: white; background-color: red;">0</span><br />
                            </div>
                            <div class="col-5 col-sm-4" id="divNotInBookPercentage">

                                @*<div class="progress-circle" id="lblPercentage" data-echart-responsive="true" data-options='{"color":"url(#gradient)","progress":93,"strokeWidth":5,"trailWidth":5}'></div>


                                    <div class="progress-circle" id="lblPercentage" data-options='{"color":"url(#gradient)","progress":93,"strokeWidth":5,"trailWidth":5}'></div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-5 col-sm-6 col-xxl pr-2">
                                <h6 class="mt-1">Needs List</h6>
                                <div class="fs--2 mt-3" id="needsCategoryDiv">
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-red"></span><span class="font-weight-semi-bold">Urgent</span></div>
                                        <div class="d-xxl-none">20%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-orange"></span><span class="font-weight-semi-bold">High</span></div>
                                        <div class="d-xxl-none"> 30%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-light-blue"></span><span class="font-weight-semi-bold">Medium</span></div>
                                        <div class="d-xxl-none"> 35%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-green"></span><span class="font-weight-semi-bold">Low</span></div>
                                        <div class="d-xxl-none"> 15%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="position-relative">
                                    <div id="echart-needs" class="echart"></div>
                                    <div class="absolute-centered font-weight-medium text-dark fs-2"><span id="lblTotalTasksCount"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-5 col-sm-6 col-xxl pr-2">
                                <h6 class="mt-1">Notes</h6>
                                <div class="fs--2 mt-3" id="notesCategoryDiv">
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-light-blue"></span><span class="font-weight-semi-bold">Income</span></div>
                                        <div class="d-xxl-none">15%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-blue"></span><span class="font-weight-semi-bold">Expenses</span></div>
                                        <div class="d-xxl-none"> 25%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-red"></span><span class="font-weight-semi-bold">Assest</span></div>
                                        <div class="d-xxl-none"> 30%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-orange"></span><span class="font-weight-semi-bold">Bank Balance</span></div>
                                        <div class="d-xxl-none"> 15%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-soft-primary"></span><span class="font-weight-semi-bold">Liabilities</span></div>
                                        <div class="d-xxl-none"> 15%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-green"></span><span class="font-weight-semi-bold">Equity</span></div>
                                        <div class="d-xxl-none"> 15%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="position-relative">
                                    <div id="echart-notes" class="echart"></div>
                                    <div class="absolute-centered font-weight-medium text-dark fs-2"><span id="lblTotalNotesCount"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card h-100">
                    <div class="card-header d-flex flex-between-center bg-light py-2">
                        <h6 class="mb-0">Overview</h6>
                        @*<div class="dropdown text-sans-serif btn-reveal-trigger">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" id="dropdown-active-user" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown-active-user">
                                <div class="bg-white py-2">
                                    <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="card-body py-2 overview-content">
                        <h5 class="mb-3"> <span class="spClientName"></span></h5>
                        @*I have Did Some Changes Here*@
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Billable Entity</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span class="spEntityName"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Start Date</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span id="spCreatedDate"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Team</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span id="spTeamName"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Status</p>
                            <p class="badge badge-success font-weight-normal mb-1"><span id="spStatus"></span></p>
                            <!--<p class="col-md-7 col-xl-8 mb-2 color-gray-shades">-->
                            @*<san href="#" class="badge badge-success font-weight-normal"><span id="spStatus"></span></san>*@
                            <!--</p>-->
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Months as Client</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span id="spMonths"></span></p>
                        </div>
                        @*<div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Outstanding Balance</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades">
                                <span id="spOutSanding" class="currency-usd"></span> <a href="#" class="ml-5 badge badge-danger font-weight-normal pt-1">Pay Now</a>
                            </p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-header d-flex flex-between-center bg-light py-2 mb-3">
                        <h6 class="mb-0">Your Team</h6>
                        @*<div class="dropdown text-sans-serif btn-reveal-trigger">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" id="dropdown-active-user" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown-active-user">
                                <div class="bg-white py-2">
                                    <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="card-body py-3 overview-content">
                        <div class="media align-items-center mb-4">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        <img class="rounded-circle" id="spProfileImage1" />

                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName1"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle1"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail' id="email1"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1" id="spTeamChat1">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1" id="phoneNumber1">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1" id="aLinkedInProfile1">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="media align-items-center mb-4">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        @*<img class="rounded-circle" src="../assets/img/team/2-thumb.png" alt="" />*@
                                        <img class="rounded-circle" id="spProfileImage2" />

                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName2"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle2"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail' id="email2"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1" id="spTeamChat2">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1" id="phoneNumber2">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1" id="aLinkedInProfile2">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="media align-items-center mb-4">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        @*<img class="rounded-circle" src="../assets/img/team/3-thumb.png" alt="" />*@
                                        <img class="rounded-circle" id="spProfileImage3" />

                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName3"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle3"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail' id="email3"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1" id="spTeamChat3">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="tel:" class="d-inline-block mx-2 fs-1" id="phoneNumber3">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1" id="aLinkedInProfile3">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("Chat", "Communication")>
                            Chat With Team<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card h-lg-100">
                    <div class="card-header">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h6 class="mb-0">Gross Revenue</h6>
                            </div>
                            <div class="col-auto d-flex">
                                <select class="custom-select custom-select-sm select-month mr-2" id="ddlGrossRevenue">
                                    <option value="0" selected>Last 12 Months</option>
                                    <option value="1">Last 6 Months</option>
                                    <option value="2">Last 3 Months</option>
                                    @*<option value="3" selected>Current year by month</option>
                                    <option value="4">Previous year by quarter</option>
                                    <option value="5">Previous year by month</option>
                                    <option value="6">Previous three years by month</option>
                                    <option value="7">Previous three years by quarters</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body h-100 pr-0">
                        <div class="h-100" data-echart-responsive="true" id="container1"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card h-lg-100">
                    <div class="card-header">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h6 class="mb-0">Net Income</h6>
                            </div>
                            <div class="col-auto d-flex">
                                <select class="custom-select custom-select-sm select-month mr-2" id="dllNetIncome">
                                    <option value="0" selected>Last 12 Months</option>
                                    <option value="1">Last 6 Months</option>
                                    <option value="2">Last 3 Months</option>
                                    @*<option value="3" selected>Current year by month</option>
                                    <option value="4">Previous year by quarter</option>
                                    <option value="5">Previous year by month</option>
                                    <option value="6">Previous three years by month</option>
                                    <option value="7">Previous three years by quarters</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body h-100 pr-0">
                        <div class="h-100" style="min-height: 280px;" data-echart-responsive="true" id="container2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <div class="card-header d-flex flex-between-center bg-light py-4">
                        <h6 class="mb-0">Monthly Financials</h6>
                    </div>
                    <div class="card-body py-2" id="divMonthlyReports">
                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("ReportsList", "Reports")>
                            Show All<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card">
                    <div class="card-header d-flex flex-between-center bg-light py-4">
                        <h6 class="mb-0">Annual Financials</h6>
                    </div>
                    <div class="card-body py-2" id="divYearlyReports">
                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("ReportsList", "Reports")>
                            Show All<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>




    @section Scripts {
        @*@Scripts.Render("~/bundles/jqueryval");*@
        @*@Scripts.Render("~/bundles/layoutJS");*@

        @Scripts.Render("~//bundles/js/chart")
        @Scripts.Render("~/bundles/js/select")

        @Scripts.Render("~/bundles/js/toastr")
        @Scripts.Render("~/bundles/js/clipboard")
        @Scripts.Render("~/bundles/js/fancybox")


        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

        @Scripts.Render("~/bundles/js/agencyHome")
    }