@model ProvenCfoUI.Models.AgencyClient
@{ ViewBag.Title = "AgencyHome";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .disabled-link {
        pointer-events: none;
    }

    a:hover {
        color: #00d27a !important;
    }

    .fancybox-button--download svg {
        color: #b7b4b4 !important;
    }
    .turquoiseblue {
        background-color: #05768f !important;
    }
    .yellow {
        background-color: #FFDB74 !important;
    }
</style>
@Styles.Render("~/bundles/css/fancybox")
<div class="dashboard-frame">

        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card h-md-100">

                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-auto pr-2">

                                <h6 class="mb-0 ml-2"><a href="@Url.Action("GetReconcilation", "Reconciliation", new { Type = "Not in Books" })">Not in Books</a></h6>
                                <h1 id="lblNotInBooksCount2" style=" margin-left: 15px;">
                                    0
                                </h1>
                                <div>
                                    <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblNegativeInBooksCount" style="color: white; background-color: #00d27a; ">0</span>
                                </div>
                                <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblPostiveInBooksCount" style=" color: white; background-color: red;">0</span><br />
                            </div>
                            <div class="col-5 col-sm-4" id="divNotInBookPercentage">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-auto pr-2">
                                <h6 class="mb-0 ml-2" id="tabselectBank" onclick="Tabclick(event,1)" ;><a href="@Url.Action("GetReconcilation", "Reconciliation", new { Type = "Not in Banks" })">Not in Banks</a></h6>
                                <h1 id="lblNotInBanksCount2" style=" margin-left: 25px;">0</h1>


                                <div>
                                    <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblpostiveBanksCount" style=" color: white; background-color: #00d27a;">0</span><br />

                                </div>
                                <span class="badge badge-pill badge-soft-danger ml-3 currency-usd" id="lblNegativeBanksCount" style="color: white; background-color: red; ">0</span>
                            </div>
                            <div class="col-5 col-sm-4" id="divNotInBankPercentage">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-5 col-sm-6 col-xxl pr-2">
                                <h6>
                                    <a class="" href=@Url.Action("NeedsMain", "Needs")>
                                        Needs List<span class=""></span>
                                    </a>
                                </h6>

                                <div class="fs--2 mt-3" id="needsCategoryDiv">
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-red"></span><span class="font-weight-semi-bold">Urgent</span></div>
                                        <div class="d-xxl-none">20%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-orange"></span><span class="font-weight-semi-bold">High</span></div>
                                        <div class="d-xxl-none"> 30%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-light-blue"></span><span class="font-weight-semi-bold">Medium</span></div>
                                        <div class="d-xxl-none"> 35%</div>
                                    </div>
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-green"></span><span class="font-weight-semi-bold">Low</span></div>
                                        <div class="d-xxl-none"> 15%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="position-relative">
                                    <div id="echart-needs" class="echart"></div>
                                    <div class="absolute-centered font-weight-medium text-dark fs-2"><span id="lblTotalTasksCount"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pl-md-3 mb-3">
                <div class="card h-md-100">
                    <div class="card-body">
                        <div class="row h-100 justify-content-between no-gutters">
                            <div class="col-5 col-sm-6 col-xxl pr-2">
                                <h6>
                                    <a class="" href=@Url.Action("GetNotesPage", "Notes")>
                                        Notes<span class=""></span>
                                    </a>
                                </h6>

                               
                                <div class="fs--2 mt-3" id="notesCategoryDiv">
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot turquoiseblue"></span><span class="font-weight-semi-bold">Relevant</span></div>
                                        <div class="d-xxl-none">15%</div>
                                    </div>
                                    
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot bg-green"></span><span class="font-weight-semi-bold">Reliable</span></div>
                                        <div class="d-xxl-none"> 30%</div>
                                    </div>  
                                    <div class="d-flex flex-between-center mb-1">
                                        <div class="d-flex align-items-center"><span class="dot yellow"></span><span class="font-weight-semi-bold">Real Time</span></div>
                                        <div class="d-xxl-none"> 25%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="position-relative">
                                    <div id="echart-notes" class="echart"></div>
                                    <div class="absolute-centered font-weight-medium text-dark fs-2"><span id="lblTotalNotesCount"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card h-100">
                    <div class="card-header d-flex flex-between-center bg-light py-2">
                        <h6 class="mb-0">Overview</h6>
                    </div>
                    <div class="card-body py-2 overview-content">
                        <h5 class="mb-3"> <span class="spClientName"></span></h5>
                        @*I have Did Some Changes Here*@
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Billable Entity</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span class="spEntityName"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Start Date</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span id="spCreatedDate"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Status</p>
                            <p class="badge badge-success font-weight-normal mb-1"><span id="spStatus"></span></p>
                        </div>
                        <div class="row no-gutters mb-2 mb-md-0">
                            <p class="col-md-5 col-xl-4 mb-2 color-dark">Months as Client</p>
                            <p class="col-md-7 col-xl-8 mb-2 color-gray-shades"><span id="spMonths"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-header d-flex flex-between-center bg-light py-2 mb-3">
                        <h6 class="mb-0">Your Team</h6>
                    </div>
                    <div class="card-body py-3 overview-content">
                        <div class="media align-items-center mb-4" style="display: none" id="teamMember1">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        <img class="rounded-circle" id="spProfileImage1" onerror="imgError(this);" />

                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName1"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle1"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail disabled-action-icons' id="email1"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="spTeamChat1">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="phoneNumber1">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="aLinkedInProfile1">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="media align-items-center mb-4" style="display: none" id="teamMember2">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        <img class="rounded-circle" id="spProfileImage2" onerror="imgError(this);" />
                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName2"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle2"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail disabled-action-icons' id="email2"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="spTeamChat2">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="phoneNumber2">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="aLinkedInProfile2">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="media align-items-center mb-4" style="display: none" id="teamMember3">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        <img class="rounded-circle" id="spProfileImage3" onerror="imgError(this);" />
                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName3"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle3"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail disabled-action-icons' id="email3"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="spTeamChat3">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="tel:" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="phoneNumber3">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="aLinkedInProfile3">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="media align-items-center mb-4" style="display: none" id="teamMember4">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex justify-content-between align-items-center flex-row">
                                    <div class="avatar avatar-2xl">
                                        <img class="rounded-circle" id="spProfileImage4" onerror="imgError(this);" />
                                    </div>
                                    <div class="media-body ml-3">
                                        <p class="mb-0 color-gray-shades"><span id="spStaffName4"></span></p>
                                        <p class="text-500 fs--2 mb-0"><span id="spJobTitle4"></span></p>
                                    </div>
                                </div>
                                <div class="action-icons">
                                    <a href="#" class="d-inline-block mx-2 fs-1">
                                        <span class='far fa-envelope copyEmail disabled-action-icons' id="email4"></span>
                                    </a>
                                    <a href="#" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="spTeamChat4">
                                        <span class='far fab fa-rocketchat'></span>
                                    </a>
                                    <a href="tel:" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="phoneNumber4">
                                        <span class='far fas fa-phone'></span>
                                    </a>
                                    <a href="#" target="_blank" class="d-inline-block mx-2 fs-1 disabled-action-icons" id="aLinkedInProfile4">
                                        <span class='far fab fa-linkedin'></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("Chat", "Communication")>
                            Chat With Team<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card h-lg-100">
                    <div class="card-header">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h6 class="mb-0">Gross Revenue</h6>
                            </div>
                            <div class="col-auto d-flex">
                                <select class="custom-select custom-select-sm select-month mr-2" id="ddlGrossRevenue">
                                    <option value="0" selected>Last 12 Months</option>
                                    <option value="1">Last 6 Months</option>
                                    <option value="2">Last 3 Months</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body h-100 pr-0">
                        <div class="h-100" data-echart-responsive="true" id="container1"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card h-lg-100">
                    <div class="card-header">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h6 class="mb-0">Net Income</h6>
                            </div>
                            <div class="col-auto d-flex">
                                <select class="custom-select custom-select-sm select-month mr-2" id="dllNetIncome">
                                    <option value="0" selected>Last 12 Months</option>
                                    <option value="1">Last 6 Months</option>
                                    <option value="2">Last 3 Months</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body h-100 pr-0">
                        <div class="h-100" style="min-height: 280px;" data-echart-responsive="true" id="container2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <div class="card-header d-flex flex-between-center bg-light py-4">
                        <h6 class="mb-0">Monthly Financials</h6>
                    </div>
                    <div class="card-body py-2" id="divMonthlyReports">
                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("ReportsList", "Reports")>
                            Show All<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pl-lg-3 mb-3">
                <div class="card">
                    <div class="card-header d-flex flex-between-center bg-light py-4">
                        <h6 class="mb-0">Annual Financials</h6>
                    </div>
                    <div class="card-body py-2" id="divYearlyReports">
                    </div>
                    <div class="card-footer bg-light p-0">
                        <a class="btn btn-sm btn-link btn-block py-2" href=@Url.Action("ReportsList", "Reports")>
                            Show All<span class="fas fa-chevron-right ml-1 fs--2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/js/chart")
        @Scripts.Render("~/bundles/js/select")
        @Scripts.Render("~/bundles/js/toastr")
        @Scripts.Render("~/bundles/js/clipboard")
        @Scripts.Render("~/bundles/js/fancybox")
        @Scripts.Render("~/bundles/js/agencyHome")
        @*@Scripts.Render("~/bundles/js/reconciliationMain")*@
        @*@Scripts.Render("~/bundles/jqueryval");*@
        @*@Scripts.Render("~/bundles/layoutJS")*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    }