@{
    ViewBag.Title = "Chat";
}

@Styles.Render("~/bundles/css/twilio-chat")
@*<link href="~/assets/lib/mentiony/jquery.mentiony.css" rel="stylesheet" />*@
<link href="~/assets/lib/jquery.mentionsInput/jquery.mentionsInput.css" rel="stylesheet" />
<style type="text/css">
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

        .separator::before,
        .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #d8e2ef;
        }

        .separator:not(:empty)::before {
            margin-right: .25em;
        }

        .separator:not(:empty)::after {
            margin-left: .25em;
        }

    .chat-sidebar .chat-content-header {
        border-right: 1px solid #d8e2ef !important;
    }

    .chat-content-header {
        min-height: 70px;
    }

    .contacts-list {
        height: calc(100% - 2.063rem - 70px);
    }
    .mentions-autocomplete-list {
        z-index:9999999;
    }
</style>

@*<div class="card-body py-0 px-0 pt-0">

    </div>*@
@Html.Partial("_communication", false)

@section Scripts {
    @*<script src="~/assets/lib/mentiony/jquery.mentiony.js"></script>*@
    <script src='~/assets/lib/jquery.events.input/jquery.events.input.js' type='text/javascript'></script>
    <script src='~/assets/lib/jquery.elastic/jquery.elastic.js' type='text/javascript'></script>
    <script src='~/assets/lib/underscore.js/underscore.min.js' type='text/javascript'></script>
    <script src='~/assets/lib/jquery.mentionsInput/jquery.mentionsInput.js' type='text/javascript'></script>
    <script type="text/javascript">
        //$('#message-body-input').mentiony({
        //    onDataRequest: function (mode, keyword, onDataRequestCompleteCallback) {

        //        var data = [
        //            { id: 1, name: 'Nguyen Luat', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 2, name: 'Dinh Luat', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 3, name: 'Max Luat', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 4, name: 'John Neo', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 5, name: 'John Dinh', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 6, name: 'Test User', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 7, name: 'Test User 2', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 8, name: 'No Test', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 9, name: 'The User Foo', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //            { id: 10, name: 'Foo Bar', 'avatar': 'https://goo.gl/WXAP1U', 'info': 'Vietnam', href: 'http://a.co/id' },
        //        ];

        //        data = jQuery.grep(data, function (item) {
        //            return item.name.toLowerCase().indexOf(keyword.toLowerCase()) > -1;
        //        });

        //        // Call this to populate mention.
        //        onDataRequestCompleteCallback.call(this, data);
        //    },
        //    timeOut: 0,
        //    debug: 1,
        //});
        //$('#message-body-input').mentionsInput({
        //    onDataRequest: function (mode, query, callback) {
        //        var data = [
        //            { id: 1, name: 'Kenneth Auchenberg', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 2, name: 'Jon Froda', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 3, name: 'Anders Pollas', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 4, name: 'Kasper Hulthin', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 5, name: 'Andreas Haugstrup', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 6, name: 'Pete Lacey', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 7, name: 'kenneth@auchenberg.dk', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 8, name: 'Pete Awesome Lacey', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' },
        //            { id: 9, name: 'Kenneth Hulthin', 'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type': 'contact' }
        //        ];

        //        data = _.filter(data, function (item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

        //        callback.call(this, data);
        //    },
        //    onCaret: true
        //});

    </script>
    @Scripts.Render("~/bundles/js/twilio-chat")
    <script>
        $(document).ready(function () {
            chat.userId = "@ViewBag.UserId";
            chat.userEmail = "@ViewBag.UserEmail";
            loadChatPage();
        });
    </script>
}