@{
    ViewBag.Title = "Chat";
}

@Styles.Render("~/bundles/css/twilio-chat")
<style type="text/css">
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

        .separator::before,
        .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #d8e2ef;
        }

        .separator:not(:empty)::before {
            margin-right: .25em;
        }

        .separator:not(:empty)::after {
            margin-left: .25em;
        }

    .chat-sidebar .chat-content-header {
        border-right: 1px solid #d8e2ef !important;
    }

    .chat-content-header {
        min-height: 70px;
    }

    .contacts-list {
        height: calc(100% - 2.063rem - 70px);
    }
</style>

@*<div class="card-body py-0 px-0 pt-0">

</div>*@
@Html.Partial("_communication", false)

@section Scripts {
    @Scripts.Render("~/bundles/js/twilio-chat")
    <script>
        $(document).ready(function () {
            chat.userId = "@ViewBag.UserId";
            chat.userEmail = "@ViewBag.UserEmail";
            loadChatPage();
        });
    </script>
}