@model IEnumerable<Proven.Model.reconciliationVM>
@{
    ViewBag.Title = "ReconciliationMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tabselect {
        text-decoration: underline;
    }
</style>

<!--<div class="card mb-4 ">
    <div class="card-header">
        <div class="row align-items-center justify-content-between">
            <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Reconciliation</h5>
            </div>
            <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                <div class="d-none" id="purchases-actions">
                    <div class="input-group input-group-sm">
                        <select class="custom-select cus" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ml-2" type="button">Submit</button>
                    </div>
                </div>
                <div id="dashboard-actions">-->
@*<button class="btn btn-falcon-default btn-sm" type="button">
        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
        <span class="d-none d-sm-inline-block ml-1"><a href=@Url.Action("CreateClient", "Client")>Create</a></span>
    </button>*@
@*<button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">filter</span></button>*@
@*<button class="btn btn-falcon-default btn-sm ml-2" type="button">
        <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
        <span class="d-none d-sm-inline-block ml-1" onclick="ExportToExcel()">Export</span>
    </button>*@
<!--<button class="btn btn-falcon-default btn-sm ml-2" type="button">
                    <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                    <span class="d-none d-sm-inline-block ml-1">
                        <a href=@Url.Action("AgencyHome", "AgencyService")>Back to dashboard</a>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="card-body px-0 pt-0">
    <!--<div class="row no-gutters">-->
<!--@*@Html.Partial("_AgencySelection")*@
@*@{
    Html.RenderAction("AgencySelection", "AgencyService");
}*@-->
<!--<div class="col-lg-3 col-xl-12 pl-lg-2 pl-xl-0 mb-3" id="divClientDetials">

    </div>
</div>-->
<!--</div>
</div>-->
<div class="row">
    <div class="col-md-12 pr-md-0" id="divTable">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="row align-items-center">
                            <div class="d-flex align-items-center ml-3" id="tabNotinBooks" onclick="Tabclick(event,0);">
                                <span class="fas fa-book"></span>
                                <h6 class="mb-0 ml-2"><a href="@Url.Action("GetReconcilation", "Reconciliation", new { Type = "Not in Books" })">Not in Books</a></h6>
                                <span class="badge badge-pill badge-soft-danger ml-3" id="lblNotInBooksCount">0</span>
                            </div>

                            <div class="d-flex align-items-center ml-5" id="tabNotinBanks" onclick="Tabclick(event,1);">
                                <span class="far fa-credit-card"></span>
                                <h6 class="mb-0 ml-2"><a href="@Url.Action("GetReconcilation", "Reconciliation", new { Type = "Not in Banks" })">Not in Banks</a></h6>
                                <span class="badge badge-pill badge-soft-danger ml-3" id="lblNotInBanksCount">0</span>
                            </div>
                        </div>
                    </div>



                    <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                        <div class="d-none" id="purchases-actions">
                            <div class="input-group input-group-sm">
                                <select class="custom-select cus" aria-label="Bulk actions">
                                    <option selected="">Bulk actions</option>
                                    <option value="Refund">Refund</option>
                                    <option value="Delete">Delete</option>
                                    <option value="Archive">Archive</option>
                                </select>
                                <button class="btn btn-falcon-default btn-sm ml-2" type="button">Apply</button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex">

                                <button class="btn btn-falcon-default btn-sm mx-1" type="button"><span class="fas fa-edit " data-fa-transform="shrink-3 down-2 m-2 p"></span><span class="d-none d-sm-inline-block "></span></button>
                                <button class="btn btn-falcon-default btn-sm mx-1 " type="button"><span class="fas fa-envelope" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block "></span></button>
                                <button class="btn btn-falcon-default btn-sm mx-1 " id="iconComments" type="button"><span class="fas fa-comment-dots" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block "></span></button>
                                <button class="btn btn-falcon-default btn-sm mx-1" id="Filter" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block "></span></button>
                            </div>
                            <div class="form-group position-relative mb-0">
                                <input type="text" class="form-control mr-3" id="inputGroup" placeholder="Search...">

                            </div>

                        </div>





                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0">
                <div class="dashboard-data-table table-responsive">
                    <table class="table table-sm table-dashboard fs--1 data-table border-bottom" id="tblreconcilation" data-options='{"responsive":true,"pagingType":"simple","lengthChange":true,"searching":true,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":true,"width":10%}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> A Cherry Blossom <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                        <thead class="bg-200 text-900">
                            <tr>
                                <th class="no-sort pr-1 align-middle data-table-row-bulk-select">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-purchases-select" type="checkbox" data-checkbox-body="#purchases" data-checkbox-actions="#purchases-actions" data-checkbox-replaced-element="#dashboard-actions" />
                                        <label class="custom-control-label" for="checkbox-bulk-purchases-select"></label>
                                    </div>
                                </th>
                                <th class="sort pr-1 align-middle">Account</th>
                                <th class="sort pr-1 align-middle">Date</th>
                                <th class="sort pr-1 align-middle">Who</th>
                                <th class="sort pr-1 align-middle">Description</th>
                                <th class="sort pr-1 align-middle">Amount</th>
                                <th></th>

                                @if (ViewBag.GLAccounts != null && ViewBag.GLAccounts.Count > 0)
                                {
                                    <th class="sort pr-1 align-middle">GL Account</th>
                                }
                                <th></th>

                                <th class="sort pr-10 align-center ">Rule</th>
                                @if (ViewBag.TrackingCategories != null && ViewBag.TrackingCategories.Count > 0)
                                {
                                    <th class="sort pr-10 align-center ">Tracking Category</th>
                                }


                            </tr>
                        </thead>
                        <tbody id="purchases">
                            @foreach (var item in Model)
                            {

                            <tr class="btn-reveal-trigger cursor-pointer">
                                <td class="align-middle">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="@item.id" />

                                        <label class="custom-control-label" for="@item.id"></label>
                                    </div>
                                </td>
                                <td class="sort pr-1 align-middle col-xs-2"> @Html.DisplayFor(modelItem => item.account_name)</td>
                                <td class="sort pr-1 align-middle col-xs-1">@Html.DisplayFor(modelItem => item.date)</td>
                                <td class="sort pr-1 align-middle col-xs-1">@Html.DisplayFor(modelItem => item.description)</td>
                                <td class="sort pr-1 align-middle col-xs-2">@Html.DisplayFor(modelItem => item.reference)</td>
                                @if (item.amount < 0)
                                    {
                                <td class="sort pr-1 align-middle text-danger col-xs-1">$(@Html.DisplayFor(modelItem => item.amount))</td>
                                    }
                                    else
                                    {
                                <td class="sort pr-1 align-middle col-xs-1">$@Html.DisplayFor(modelItem => item.amount)</td>
                                    }
                                <td class="sort pr-1 align-middle"><span class="fa fa-comment mr-1"></span></td>
                                @if (ViewBag.GLAccounts != null && ViewBag.GLAccounts.Count > 0)
                                    {
                                <td class="sort pr-1 align-middle col-xs-1">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">

                                            @*@Html.DropDownList("gl_account", new SelectList(ViewBag.GLAccounts, "Id", "Name"), "Pick Account", new { @class = "form-control" })*@
                                            @Html.DropDownListFor(modelItem1 => item.gl_account_ref, new SelectList(ViewBag.GLAccounts, "Id", "Name", item.gl_account_ref), "Pick Account", new { @class = "form-control", @onchange = "javascript:onChangeglAccount('" + item.id + "',event)" })
                                        </div>
                                    </div>
                                </td>
                                    }
                                <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                                <td class="sort pr-1 align-middle col-xs-1">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            @Html.DropDownListFor(modelItem1 => item.rule, new SelectList(ViewBag.BankRule, "Value", "Text", item.rule), "Set Rule", new { @class = "form-control", @onchange = "javascript:onChangeBankRule('" + item.id + "',event)" })
                                        </div>
                                    </div>
                                </td>
                                @if (ViewBag.TrackingCategories != null && ViewBag.TrackingCategories.Count > 0)
                                    {
                                <td class="sort pr-1 align-middle col-xs-1">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            @*@Html.DropDownList("gl_account", new SelectList(ViewBag.TrackingCategories, "Id", "Option"), "Pick Account", new { @class = "form-control", @onchange = "javascript:onChangeglAccount("+ item.id + "," + + ")" })*@
                                            @Html.DropDownListFor(modelItem => item.tracking_category_ref, new SelectList(ViewBag.TrackingCategories, "Id", "Option", item.tracking_category_ref), "Pick Tracking Categories ", new { @class = "form-control", @onchange = "javascript:onChangeTc('" + item.id + "',event)" })
                                        </div>
                                    </div>
                                </td>
                                    }

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-l-2 d-none" id="divChat">
        <div class="card mb-3 pr-md-0 table table-striped">
            <div class="card-header">
                <div class="align-items-center justify-content-between p-l-6 ">
                    <button class="close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" id="Cancel" data-dismiss="modal" aria-label="Close"><svg class="svg-inline--fa fa-times fa-w-11" data-fa-transform="shrink-6 right-0.3 down-0.3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="" style="transform-origin: 0.3625em 0.51875em;"><g transform="translate(176 256)"><g transform="translate(9.6, 9.6)  scale(0.625, 0.625)  rotate(0 0 0)"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" transform="translate(-176 -256)"></path></g></g></svg><!-- <span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3"></span> Font Awesome fontawesome.com --></button>

                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <span class=""></span>
                                    <h6 class="mb-0 ml-2">Apple.Com/USCA</h6>
                                    <span class="badge badge-pill badge-soft-danger ml-3"></span>
                                </div>
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        @*<h6 class="mb-0 ml-2">APPLE.COM/US Balance Addjustment</h6>*@
                                        APPLE.COM/US Balance Addjustment
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="col-12">

                                <h6 class="mb-0 ml-2"> $99.99</h6>

                                <div class="mb-0 ml-2 text-400 fs--2">5/25/2021</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="card panel-primary">

                <div class="card-body">
                    <div class="media p-3" id="IM2d95f2200edb4c44a822bea0c6b5791d" data-index="7" data-sid="IM2d95f2200edb4c44a822bea0c6b5791d" data-timestamp="20210901">
                        <div class="avatar avatar-l mr-2">
                            @*<img class="rounded-circle" src="../Upload/Profile/Skype_Picture_2021_08_06T12_13_17_582Z.jpeg" alt="">*@
                            <img class="rounded-circle" src="~/assets/img/gallery/1.jpg" />
                        </div>
                        <div class="media-body">
                            <div class="w-xxl-75">
                                <div class="hover-actions-trigger d-flex align-items-center">
                                    <div class="chat-message bg-200 p-2 rounded-soft">
                                        <div class="text-40 fs--3">
                                            Hello Charu, need to discuss some task.
                                        </div>
                                    </div>
                                </div>
                                <div class="text-400 fs--2">
                                    <span>vikas kumar-May 2021 03:39 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="media-body d-flex justify-content-end">
                        <div class="w-100 w-xxl-75">
                            <div class="hover-actions-trigger d-flex align-items-center justify-content-end">

                                <div class="bg-primary text-white p-2 rounded-soft chat-message justify-content-end">
                                    <div class="text-40 fs--3">
                                        Hi Vikas, busy with some stuff ping you once i am done with it.
                                    </div>
                                </div>
                                <div class="avatar avatar-l mr-2 justify-content-end m-2">
                                    <img class="rounded-circle" src="~/assets/img/gallery/4.jpg" />

                                    @*<img class="rounded-circle" src="~/assets/img/gallery/3.jpg" />*@

                                </div>
                                <div class="text-400 fs--2">
                                    @*<span>vikas kumar-May 2021 03:39 PM</span>*@
                                </div>
                            </div>


                            <div class="text-400 fs--2 text-right">
                                Charu Pandey-today 2021 11:08 AM<span class="ml-2 text-success" data-fa-i2svg=""><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg></span>
                            </div>
                        </div>
                    </div>
                    <div class="media p-3" id="IM2d95f2200edb4c44a822bea0c6b5791d" data-index="7" data-sid="IM2d95f2200edb4c44a822bea0c6b5791d" data-timestamp="20210901">
                        <div class="avatar avatar-l mr-2">
                            @*<img class="rounded-circle" src="../Upload/Profile/Skype_Picture_2021_08_06T12_13_17_582Z.jpeg" alt="">*@
                            <img class="rounded-circle" src="~/assets/img/gallery/1.jpg" />
                        </div>
                        <div class="media-body">
                            <div class="w-xxl-75">
                                <div class="hover-actions-trigger d-flex align-items-center">
                                    <div class="chat-message bg-200 p-2 rounded-soft">
                                        <div class="text-40 fs-xl--3">
                                            Ok, waiting for you ping.
                                        </div>
                                    </div>
                                </div>
                                <div class="text-400 fs--2">
                                    <span>vikas kumar-today 2021 03:39 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media p-3" id="IM2d95f2200edb4c44a822bea0c6b5791d" data-index="7" data-sid="IM2d95f2200edb4c44a822bea0c6b5791d" data-timestamp="20210901">
                        <div class="avatar avatar-l mr-2">
                            @*<img class="rounded-circle" src="../Upload/Profile/Skype_Picture_2021_08_06T12_13_17_582Z.jpeg" alt="">*@
                            @*<img class="rounded-circle" src="~/assets/img/gallery/1.jpg" />*@
                        </div>
                        <div class="media-body">
                            <div class="w-xxl-75">
                                <div class="hover-actions-trigger d-flex align-items-center">
                                    <div class="">
                                        <div class="text-40 fs-xl--3">

                                        </div>
                                    </div>
                                </div>
                                <div class="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <form class="card - chat-editor-area ">
                        <input class="d-none" type="file" id="chat-file-upload" accept="image/*,application/pdf,.csv,.CSV, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain">
                        <label class="mb-0 p-1 chat-file-upload cursor-pointer" for="chat-file-upload"><span class="fas fa-paperclip"></span></label>
                        <textarea class="emojiarea border-0 outline-none shadow-none" data-options='{"placeholder":"Type your message","emojiPlaceholder":":smile_cat:","search":false,"tones":false,"filtersPosition":"bottom","recentEmojis":false}'></textarea>
                        <button class="btn btn-sm btn-send outline-none ml-2" type="submit">Send</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-4 p-l-2 d-none" id="divFilter">
        <div class="card mb-3 pr-md-0 table table-striped ">
            <div class="card-header">
                <div class="align-items-center justify-content-between p-l-6 ">
                    <button class="close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" id="Cancel1" data-dismiss="modal" aria-label="Close"><svg class="svg-inline--fa fa-times fa-w-11" data-fa-transform="shrink-6 right-0.3 down-0.3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="" style="transform-origin: 0.3625em 0.51875em;"><g transform="translate(176 256)"><g transform="translate(9.6, 9.6)  scale(0.625, 0.625)  rotate(0 0 0)"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" transform="translate(-176 -256)"></path></g></g></svg><!-- <span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3"></span> Font Awesome fontawesome.com --></button>

                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">

                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h5 class="mb-0 ml-2">Filter</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card panel-primary">

                <div class="card-body">
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">

                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Account</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        @Html.DropDownList("StudentGender", new SelectList(ViewBag.DistinctAccount, "Value", "Text"), "Select account",
                                       new { @class = " selectpicker form-control", @multiple = "multiple", style = "width: 250px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Select Date Range</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <input class="form-control datetimepicker w-100" id="timepicker2" type="text" placeholder="m/d/y to m/d/y" data-options='{"mode":"range","dateFormat":"m/d/y","disableMobile":true}' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Amount Min</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Amount Max</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-1">
                        </div>
                        <div class="col-5">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control" id="filterMinAmount" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control" id="filterMaxAmount" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Bank Rule</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        @Html.DropDownList("bankrule", new SelectList(ViewBag.BankRule, "Value", "Text"), new { @class = " selectpicker form-control", @multiple = "multiple", style = "width: 250px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>

                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-lg-start ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        <h6 class="mb-0 ml-2">Tracking Categories </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between  pt-2">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <div class="row align-items-center">
                                <div class="d-flex align-items-center ml-2">
                                    <div class="mb-0 ml-2 text-400 fs--2">
                                        @Html.DropDownList("TrackingCategories", new SelectList(ViewBag.TrackingCategories, "Id", "Option"), new { @class = " selectpicker form-control", @multiple = "multiple", style = "width: 250px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="" style=" margin: 1rem;">
                            <input type="radio" id="html" name="fav_language" value="Show All" checked="true">
                            <label for="html">Show All</label><br>
                            <input type="radio" id="css" name="fav_language" value="Not Ready to Reconcile">
                            <label for="css">Not Ready to Reconcile</label><br>
                            <input type="radio" id="javascript" name="fav_language" value="Show Reconciled only">
                            <label for="javascript">Show Reconciled only</label> <br />
                            <input type="radio" id="javascript" name="fav_language" value="Read to Reconciled only">
                            <label for="javascript">Read to Reconciled only</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">

                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" id="btnCreateNewTicket" type="button"> Apply  </button>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">

                        </div>
                        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                            <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" id="cancel">Cancel</button>
                        </div>
                    </div> <br /> <br />

                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/js/table");
        <script>

            $(document).ready(function () {
                bindNotInBooksAndBanksCount();
                //AgencyDropdownPartialViewChange();
                var type = sessionStorage.getItem('Type');
                $('#divFilter').hide();
                $('#divChat').hide();
                
                if (type != null) {

                    if (type == "0") {
                        $('#tabNotinBooks').addClass('tabselect');
                        $('#tabNotinBanks').removeClass('tabselect');
                    }
                    else {
                        $('#tabNotinBooks').removeClass('tabselect');
                        $('#tabNotinBanks').addClass('tabselect');
                    }
                }
                else {
                    $('#tabNotinBooks').addClass('tabselect');
                    $('#tabNotinBanks').removeClass('tabselect');
                }

                $('#tblreconcilation tbody tr').click(function () {
                    $(this).addClass('bg-300').siblings().removeClass('bg-300');

                });
                $('#iconComments').click(function () {
                    if ($("#divFilter").is(":visible")) {
                        $('#divFilter').hide();
                        $('#divFilter').addClass('d-none');
                        $('#divChat').show();
                        $('#divChat').removeClass('d-none');

                    }
                    else if ($("#divChat").is(":visible")) {
                        $('#divFilter').hide();
                        $('#divFilter').addClass('d-none');
                        $('#divChat').hide();
                        $('#divChat').addClass('d-none');
                        $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                    }
                    else {
                        $('#divChat').show();
                        $('#divChat').removeClass('d-none');
                        $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                    }
                    //if ($('#divTable')[0].className.indexOf('col-md-8') != -1) {
                    //    $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                    //    $('#divChat').hide();
                    //}
                    //else {
                    //    $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                    //    $('#divChat').show();
                    //}
                });

                $('#Cancel').click(function () {
                    if ($('#divTable')[0].className.indexOf('col-md-8') != -1) {
                        $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                        $('#divChat').hide();
                    }
                    else {
                        $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                        $('#divChat').show();
                    }
                });
                $('#Filter').click(function () {
                    if ($("#divChat").is(":visible")) {
                        $('#divChat').hide();
                        $('#divChat').addClass('d-none');
                        $('#divFilter').show();
                        $('#divFilter').removeClass('d-none');

                    }
                    else if ($("#divFilter").is(":visible")) {
                        $('#divChat').hide();
                        $('#divChat').addClass('d-none');
                        $('#divFilter').hide();
                        $('#divFilter').addClass('d-none');
                        $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                    }
                    else {
                        $('#divFilter').show();
                        $('#divFilter').removeClass('d-none');
                        $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                    }
                    //if ($('#divTable')[0].className.indexOf('col-md-8') != -1) {
                    //    $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                    //    $('#divTable1').addClass('d-none');
                    //    $('#divFilter').hide();
                    //}
                    //else {
                    //    $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                    //    $('#divChat').hide();
                    //    $('#divTable1').removeClass('d-none');
                    //    $('#divFilter').show();
                    //}
                });

                $('#Cancel1').click(function () {
                    if ($('#divTable')[0].className.indexOf('col-md-8') != -1) {
                        $('#divTable').addClass('col-md-12').removeClass('col-md-8');
                        $('#divTable1').addClass('d-none');
                        $('#divChat').hide();
                    }
                    else {
                        $('#divTable').addClass('col-md-8').removeClass('col-md-12');
                        $('#divTable1').removeClass('d-none');
                        $('#divChat').show();
                    }
                });

            });
            function Tabclick(e, type) {
                sessionStorage.setItem('Type', type);
                if (type == 0) {
                    $('#tabNotinBooks').addClass('tabselect');
                    $('#tabNotinBanks').removeClass('tabselect');
                }
                else {
                    $('#tabNotinBooks').removeClass('tabselect');
                    $('#tabNotinBanks').addClass('tabselect');
                }
            }
            function onChangeglAccount(id, event) {
                var Selectedvalue = event.currentTarget.value;
                var ClientID = $("#ddlclient option:selected").val();
                postAjax('/Reconciliation/UpdateReconciliation?AgencyID=' + ClientID + '&id=' + id + '&GLAccount=' + Selectedvalue + '&BankRule=' + 0 + '&TrackingCategory=' + 0, null, function (response) {
                    if (response.Message == 'Success') {

                    }
                    else {

                    }

                })

            }
            function onChangeBankRule(id, event) {
                var Selectedvalue = event.currentTarget.value;
                var ClientID = $("#ddlclient option:selected").val();
                postAjax('/Reconciliation/UpdateReconciliation?AgencyID=' + ClientID + '&id=' + id + '&GLAccount=' + 0 + '&BankRule=' + Selectedvalue + '&TrackingCategory=' + 0, null, function (response) {
                    if (response.Message == 'Success') {

                    }
                    else {

                    }

                })
            }
            function onChangeTc(id, event) {
                var Selectedvalue = event.currentTarget.value;
                var ClientID = $("#ddlclient option:selected").val();
                postAjax('/Reconciliation/UpdateReconciliation?AgencyID=' + ClientID + '&id=' + id + '&GLAccount=' + 0 + '&BankRule=' + 0 + '&TrackingCategory=' + Selectedvalue, null, function (response) {
                    if (response.Message == 'Success') {

                    }
                    else {

                    }

                })
            }
            function loadReconcilation() {

                var type = sessionStorage.getItem('Type');
                var recType = 'Not in Books';
                if (type != null && type == '1') {

                    recType = 'Not in Banks';
                }
                var ClientID = $("#ddlclient option:selected").val();
                debugger;
                postAjax('/Reconciliation/GetReconcilation?Type=' + recType, null, function (data) {
                    if (response.Message == "Success") {
                        let data = response.ResultData;
                    }
                    if (data === false) {


                    }
                    else {

                    }

                });

            }

            function AgencyDropdownPartialViewChange() {
                var ClientID = $("#ddlclient option:selected").val();

                $.ajax({
                    url: '/AgencyService/GetClientDetails?id=' + ClientID,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            // Write here what should happend once client selected
                            SetUserPreferencesForAgency();
                            //loadReconcilation();
                            window.location.reload();
                        }
                        else {
                            // Write here what should happend once selected client is null
                        }
                    },
                    error: function () {
                        // Write here what should happend when action result is errored.
                    }
                });
            }

            function bindNotInBooksAndBanksCount() {
                var ClientID = $("#ddlclient option:selected").val();
                getAjax(`/Reconciliation/GetReconciliationDataCountAgencyId?AgencyId=${ClientID}`, null, function (response) {

                    if (response.Message == "Success") {
                        let data = response.ResultData;                     
                        let totalSum = 0;
                        for (var i = 0; i < data.length; i++) {
                            totalSum = totalSum + data[i].totalCount;
                            if (data[i].type.toLowerCase() == "Outstanding Payments".toLowerCase()) {
                                $("#lblNotInBanksCount").text(data[i].totalCount);
                            }
                            else {
                                $("#lblNotInBooksCount").text(data[i].totalCount);                              
                            }
                        }
                        
                        $("#lblNotInCount").text(totalSum);
                        
                    }
                })
            }

        </script>

    }
   
